.cover_graph {
      width: 40%;
      height: 400px;
  padding: 0px;
  margin: 0px;
  display: inline-block;
}
.cover_table {
      width: 40%;
      height: 400px;
  padding: 0px;
  margin: 0px;
  display: inline-block;
}