@(message: String)

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <!-- A nice lib for pies -->
    <script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>

    <!-- Includes of the template -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

    <!-- dependencies (jquery, handlebars and bootstrap) -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <link type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <!-- alpaca -->
    <link type="text/css" href="//code.cloudcms.com/alpaca/1.5.23/bootstrap/alpaca.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="//code.cloudcms.com/alpaca/1.5.23/bootstrap/alpaca.min.js"></script>

    <!-- My functions -->
    <script src="@routes.Assets.versioned("javascripts/invoke-ajax.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/generate-chart.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/alpaca-utils.js")" type="text/javascript"></script>

</head>
<body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#" id="donough">Donough</a></li>
            <li role="presentation"><a href="#" id="column">Column</a></li>
            <li role="presentation"><a href="#" id="pie">Pie</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">CountMeUp</h3>
      </div>
    </div>

    <div class="container">
      <div class="row marketing">
        <div class="col-lg-6">
            <div class="cover_graph" id="c_graph"></div>
        </div>

        <div class="col-lg-6" id="c_table">
        </div>
      </div>

      <footer class="footer">
        <p>&copy; Andrea Lorenzani, 2017</p>
      </footer>

    </div> <!-- /container -->

<script type="text/javascript">
    function pageFunction() {
        $('#column').click(function(){ generateChart("c_graph", "column"); return false; });
        $('#doughnut').click(function(){ generateChart("c_graph", "doughnut"); return false; });
        $('#pie').click(function(){ generateChart("c_graph", "pie"); return false; });

        invokeAjax("/presenter/event").then(function(eventret) {
          var event = eventret;
          invokeAjax("/presenter/result").then(function(result) {
            var votes = result;
            generateChart("c_graph", "doughnut", event, votes);
            createTable("#c_table", votes);
          }, function(err) {
            console.log(err); // Error: "It broke"
          });
        }, function(err) {
          console.log(err); // Error: "It broke"
        });
    }
</script>
</body>
</html>